@import '../../assets/styles/variables.scss';

.carousel-section {
  &__title {
    margin-bottom: 1.5625rem;
  }

  &__text {
    max-width: 40.75rem;
  }

  &__h2 {
    margin-bottom: 3.75rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;
  }
}



.section.inner-page {
  overflow: hidden;
  padding-top: 0;

  .hero__info {
    @media screen and (max-width: $md) {
      max-width: none;
    }
  }

  .hero__title {
    @media screen and (max-width: $md) {
      text-align: center;
    }
  }

  .breadcrumbs {
    @media screen and (max-width: $md) {
      justify-content: center;
    }
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    width: 4rem;
    height: 4rem;
    background: #e1e6ee;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    position: static !important;
    display: inline-flex;

    @media screen and (max-width: $lg) {
      display: none;
    }

    & .slider-arrow path {
      transition: all 0.3s ease 0s;
    }

    &:hover {
      background-color: $dark-blue;

      .slider-arrow path {
        stroke: $white;
      }
    }
  }

  & .swiper-button-prev {
    margin-right: 0.9375rem;
  }
}

.carousel {
  max-width: 36.875rem;
  position: relative;
  margin-bottom: 3.9375rem;

  &.swiper {

    & .swiper-pagination-bullets {
      bottom: -4.25rem !important;

      @media screen and (max-width: $md) {
        bottom: -2.2rem !important;
      }
    }
  }

  & .swiper-slide {
    width: 37.375rem;

    @media screen and (max-width: $lg) {
      width: 29.375rem;
    }

    @media screen and (max-width: $md) {
      width: 25rem;
    }

    @media screen and (max-width: $sm) {
      width: 100vw;
      max-width: 100%;
    }
  }

  & .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $dark-blue;
  }

  & .swiper-pagination-bullet {
    width: 5.625rem;
    height: 0.125rem;
    margin: 0 0.4375rem !important;
    background-color: rgba(22, 59, 125, 0.3);
    border-radius: 0;
    opacity: 1;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $md) {
      width: 2.5rem;
      margin: 0 0.4375rem !important;
    }
  }

  & .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -3.125rem;
  }
}

.hero__bg.hero__bg-block {
  display: block;
  flex-grow: 1;
  min-width: 0;
  max-width: 36.875rem;

  @media screen and (max-width: $lg) {
    max-height: none;
  }
}

.hero__text {
  margin-bottom: 3.125rem;

  @media screen and (max-width: $md) {
    margin-inline: auto;
    margin-bottom: 1.25rem;
  }
}