@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animation.scss';


.hero-card {
  position: absolute;
  bottom: 7.5rem;
  left: -5.125rem;
  width: 100%;
  max-width: 16rem;
  padding: 1.5625rem;
  background: $white;
  box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
  z-index: 2;

  @media screen and (max-width: $lg) {
    left: -0.125rem;
  }

  @media screen and (max-width: $md) {
    bottom: 2.5rem;
  }

  @media screen and (max-width: $sm) {
    position: static;
    max-width: max-content;
    padding: 0;
    margin-right: 2.1875rem;
    margin-bottom: 1.5625rem;
    margin-left: auto;
    background: transparent;
    box-shadow: none;
  }

  & .play-icon {
    width: 2.625rem;
    height: 2.625rem;
  }

  &__name {
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 140%;
  }

  &__category {
    margin-bottom: 0.9375rem;
    color: rgba(28, 49, 85, 0.7);
    font-size: 0.875rem;
    line-height: 140%;

    @media screen and (max-width: $sm) {
      max-width: 9.0625rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__text {
    color: $dark-blue;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 110%;
  }
}


.btn-back {
  margin: 3.75rem auto 0;
}


.future {
  &-wrp {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $md) {
      flex-direction: column;
    }
  }

  &__left {
    width: 100%;
    max-width: 30.5rem;

    @media screen and (max-width: $lg) {
      margin-right: 1rem;
    }

    @media screen and (max-width: $md) {
      max-width: none;
      margin-bottom: 1.5625rem;
    }
  }

  &__title {
    margin-bottom: 1.5625rem;
    color: $white;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 180%;
  }

  &__number {
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__number-text {
    font-weight: bold;
    font-size: 10.4375rem;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $sm) {
      font-size: 6.6643rem;
    }

    &:hover::before {
      width: 100%;
    }

    &::before {
      content: attr(data-content);
      position: absolute;
      /* Prints the value of the attribute */
      top: 0;
      left: 0;
      color: #FFFFFF;
      overflow: hidden;
      transition: width 5000ms ease;
      width: 0;
      white-space: nowrap;

      @media screen and (max-width: $lg) {
        width: 71%;
      }
    }
  }

  &__items {
    display: flex;
    margin-top: 2.5rem;
    margin-left: -0.625rem;

    @media screen and (max-width: $lg) {
      margin-left: 0;
    }

    @media screen and (max-width: $sm) {
      display: grid;
      margin-top: 1.875rem;
      grid-row-gap: 1.875rem;
      grid-template-columns: 1fr auto;
    }
  }

  &__year {
    position: absolute;
    top: 44%;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 100%;
    transform: translate(42%, -50%) rotate(-90deg);

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &__svg {
    padding-right: 2.75rem;
  }
}

.future-item {
  display: flex;
  margin-right: 0.625rem;

  @media screen and (max-width: $sm) {
    margin-right: 1.875rem;
  }

  &__info {
    width: 100%;
    max-width: 8rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    flex: 0 0 auto;
    margin-right: 1rem;
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

    &--people {
      background-image: url(../../assets/images/customers.svg);
    }

    &--card {
      background-image: url(../../assets/images/branches.svg);
    }

    &--license {
      background-image: url(../../assets/images/states.svg);
    }
  }

  &__numbers {
    color: $white;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 100%;
  }

  &__number {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 140%;
  }
}

.help {
  overflow: hidden;

  &.section {
    padding-bottom: 10.8rem;

    @media screen and (max-width: $md) {
      padding-bottom: 8rem;
    }

    @media screen and (max-width: $sm) {
      padding-bottom: 5rem;
    }
  }


  &__title {
    width: 100%;
    max-width: 25.375rem;
    margin: 0 auto 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;
    text-align: center;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 44.1875rem;
    margin: 0 auto;
    color: rgba(28, 49, 85, 0.7);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }
}

.quiz {
  margin-top: 3.75rem;
  position: relative;

  &__step {
    margin-bottom: 0.625rem;
    color: rgba(28, 49, 84, 0.5);
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 100%;
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;
    color: $blue;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 110%;
    text-align: center;


    @media screen and (max-width: $sm) {
      font-size: 1.5rem;
    }
  }

  &__wrap-grid {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(6, 24.125rem);
    transition: opacity 0.5s ease 0;

    @media screen and (max-width: $sm) {
      grid-column-gap: 0.625rem;
      grid-template-columns: repeat(6, 17.25rem);
    }

    &.swipe {
      padding-bottom: 1.5625rem;
      margin-inline: -1.125rem;
      overflow-x: auto;

      @media screen and (max-width: $md) {
        margin-inline: -.625rem;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        min-width: 1.125rem;
        height: 1px;
        position: absolute;
        top: 0;

        @media screen and (max-width: $md) {
          min-width: .625rem;
        }
      }

      &::after {
        right: 0;
      }

      &::before {
        left: 0;
      }
    }
  }

  &__card {
    position: relative;
    z-index: 1;
    padding: 4.375rem;
    background-color: $white;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $sm) {
      padding: 2.5rem;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      & .quiz__type {
        color: $white;

        svg path {
          stroke: $white;
        }
      }
    }


    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-image: $bg-gradient;
      content: '';
      opacity: 0;
      transition: all 300ms ease-in-out;
    }
  }

  &__img {
    width: 15.375rem;
    height: 15.375rem;
    margin-bottom: 2.5rem;
    background-image: url(../../assets/images/illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

    @media screen and (max-width: $sm) {
      width: 12rem;
      height: 12rem;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 110%;
    text-align: center;
    transition: all 0.3s ease 0s;

    svg {
      margin-left: 0.625rem;
    }

    svg path {
      transition: all 0.3s ease 0s;
    }
  }

  &__arrow {
    display: inline-block;
  }

  &__mouse {
    position: relative;
    width: 1.5rem;
    height: 2.375rem;
    box-sizing: border-box;
    border: 0.125rem solid $blue;
    margin: 2.5rem auto 0.625rem;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: mouseScroll;
    animation-timing-function: ease;
    border-radius: 1.875rem;

    &::before {
      position: absolute;
      top: 0.5625rem;
      left: 50%;
      width: 0.125rem;
      height: 0.4375rem;
      background-color: $blue;
      border-radius: 6.25rem;
      content: '';
      transform: translateX(-50%);
    }
  }

  &__mouse-text {
    color: rgba(22, 60, 126, 0.5);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
  }

  &__lottie {
    svg {
      border-radius: 50%;
    }
  }
}

.quiz-step-2 {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: $lg) {
    grid-template-columns: repeat(4, 17.875rem);
  }

  &.swipe {
    padding-bottom: 1.5625rem;
    margin-inline: -1.125rem;
    overflow-x: auto;

    @media screen and (max-width: $md) {
      margin-inline: -.625rem;
    }

    &::before,
    &::after {
      content: '';
      display: inline-block;
      min-width: 1.125rem;
      height: 1px;
      position: absolute;
      top: 0;

      @media screen and (max-width: $md) {
        min-width: .625rem;
      }
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  &__card {
    padding: 1.875rem;
    background-color: $white;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-image: url(../../assets/images/card-logo.svg), $bg-gradient;
      background-position: bottom right, center;
      background-repeat: no-repeat;
      content: '';
      opacity: 0;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      & .quiz-step-2__number {
        background-color: $white;
      }

      & .quiz-step-2__title {
        color: $white;
      }

      & .quiz-step-2__text {
        color: rgba(255, 255, 255, 0.8);
      }

      & .btn.btn-svg {
        color: $blue;
        background-color: $white;

        &::before {
          content: none;
        }
      }
    }
  }

  &__number {
    display: flex;
    width: 3.625rem;
    height: 3.625rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
    background-color: #e1e6ee;
    border-radius: 50%;
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__title {
    margin-bottom: 0.625rem;
    color: $dark-blue;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__text {
    max-width: 11.625rem;
    margin-bottom: 1.25rem;
    color: rgba(28, 49, 85, 0.8);
    font-size: 0.875rem;
    line-height: 140%;
  }
}

.grow {
  &__title {
    margin-bottom: 1.5625rem;
    color: $white;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    max-width: 29.625rem;
    margin: 0 auto 2.5rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }
}

.tabs {
  &__nav {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__nav-btn {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: bold;
    line-height: 140%;
  }
}

.grow-tabs {
  &__nav {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    margin: 0 auto 3.75rem;

    @media screen and (max-width: $md) {
      margin-bottom: 1.875rem;
    }
  }

  &__nav-wrp {
    @media screen and (max-width: $sm) {
      margin-inline: -.625rem;
      overflow-x: auto;
      display: flex;

      &::before,
      &::after {
        content: '';
        display: block;
        min-width: .625rem;
        height: 1px;
      }
    }
  }

  &__btn {
    padding: 1.125rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;


    &.js--active {
      background-color: $white;
      color: $dark-blue;
    }
  }

  &__tab {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: $md) {
      grid-column-gap: 0.6rem;
    }

    @media screen and (max-width: $sm) {
      grid-row-gap: 0.9375rem;
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding: 2.5rem;
    background-color: $dark-blue;

    @media screen and (max-width: $lg) {
      padding: 1.875rem;
    }
  }

  &__img {
    margin-bottom: 1.5625rem;
  }

  &__company {
    margin-bottom: 0.9375rem;
    color: $blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    line-height: 180%;
  }
}

.better {
  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $md) {
      flex-direction: column;
    }
  }

  &__img {
    @media screen and (max-width: $lg) {
      max-width: 12.5rem;
      margin-right: 2.8125rem;
    }

    @media screen and (max-width: $md) {
      max-width: 14.375rem;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
      max-width: 18.75rem;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
  }

  &__left-column {
    width: 100%;
    max-width: 18.3125rem;
    margin-right: 7.1875rem;

    @media screen and (max-width: $lg) {
      margin-right: 4rem;
    }

    @media screen and (max-width: $md) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    margin-bottom: 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
      text-align: center;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      max-width: 27.5rem;
      margin: 0 auto 2.5rem;
      text-align: center;
    }
  }

  &__card {
    display: flex;
    padding: 2.625rem 2.5rem;
    background-color: $white;
    box-shadow: 0 0 74px rgba(29, 50, 86, 0.07);

    @media screen and (max-width: $md) {
      padding: 1.875rem;
    }

    @media screen and (max-width: $sm) {
      flex-direction: column;
      padding: 2.25rem 1.5625rem;
    }

    &:first-child {
      margin-bottom: 1.5625rem;
    }
  }

  &__card-info {
    margin-left: 3.75rem;

    @media screen and (max-width: $lg) {
      margin-left: 0;
    }
  }

  &__card-title {
    margin-bottom: 0.9375rem;
    color: $blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__card-text {
    color: $dark-blue;
    font-size: 0.875rem;
    line-height: 180%;
  }
}

.btn.btn-mobile-hide {
  @media screen and (max-width: $md) {
    display: none;
  }
}

.btn.btn-mobile-vis {
  display: none;
  margin: 2.5rem auto 0;

  @media screen and (max-width: $md) {
    display: block;
  }
}

.look {
  color: $white;

  &-wrp {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    max-width: 26.0625rem;
  }

  &__title {
    margin-bottom: 1.5625rem;
    font-size: 3.375rem;
    font-weight: 800;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    line-height: 180%;
  }

  &__img {
    position: absolute;
    right: 14.1875rem;
    bottom: -7.5rem;
    max-height: 32.3125rem;
  }
}


.touch-device {
  .quiz__mouse {
    display: none;
  }

  .quiz__mouse-text {
    display: none;
  }
}