@import '../../assets/styles/variables.scss';



.bg-hero {
  position: relative;
  // background-image: linear-gradient(98.74deg, rgba(28, 49, 85, 0.96) 0%, rgba(36, 89, 181, 0.96) 94.47%);
  // z-index: 1;
  padding: 5rem 0;
  color: $white;

  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(98.74deg, rgba(28, 49, 85, 0.9) 0%, rgba(36, 89, 181, 0.9) 94.47%);
    box-shadow: 0 24px 74px rgb(29 50 86 / 11%);
    content: '';
    inset: 0;
  }

  &-wrp {
    &::after {
      content: '';
      background-image: url(../../assets/images/logo.svg);
      background-position: center top -1.3125rem;
      background-repeat: no-repeat;
      background-size: 33.0625rem 33rem;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }

  &__img-bg {
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }

  &__info {
    position: relative;
    z-index: 4;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 0.9375rem;
    color: inherit;
    color: $white;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
  }

  &__text {
    width: 100%;
    max-width: 26.375rem;
    margin: 0 auto 2.5rem;
    color: $white;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }
}

.breadcrumbs.breadcrumbs--white {
  .breadcrumbs__link {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: $white;
    }

    &:last-child {
      color: $white;
    }
  }

  .breadcrumbs__divider {
    background-color: rgba(255, 255, 255, 0.5);

    &:last-child {
      background-color: $white;
    }
  }

  &__link--module {}
}


.learn {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-row-gap: 3.75rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  @media screen and (max-width: $md) {
    grid-row-gap: 0.9375rem;
    grid-template-columns: 1fr;
  }

  .play-icon {
    margin-bottom: 5.625rem;

    @media screen and (max-width: $lg) {
      margin-bottom: 2.625rem;
    }

    @media screen and (max-width: $md) {
      margin-bottom: 1.5rem;
    }
  }

  &__info {}

  &__card-info {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    @media screen and (max-width: $sm) {
      margin-bottom: 0.9375rem;
    }
  }

  &__title {
    margin-bottom: 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
      text-align: center;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    max-width: 28.75rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 2.5rem;
    background: $white;
    background-image: url(../../assets/images/card-white-logo.svg);
    background-position: bottom right 2.4rem;
    background-repeat: no-repeat;
    background-size: 9.875rem;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);

    @media screen and (max-width: $lg) {
      padding: 1.5rem;

    }

    @media screen and (max-width: $md) {
      max-width: 30rem;
      margin: 0 auto;
    }

    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__card-img {
    width: 4.1875rem;
    height: 4.1875rem;
    border: 1px solid rgba(22, 59, 125, 0.08);
    border-radius: 50%;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    object-fit: cover;
  }

  &__card-name {
    margin-right: 2.5rem;
    margin-left: 0.625rem;
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 120%;

    @media screen and (max-width: $lg) {
      margin-right: 2rem;
    }
  }

  &__card-text {
    max-width: 15.625rem;
    color: rgba(28, 49, 84, 0.8);
    font-size: 0.875rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      max-width: none;
    }
  }
}

.news {
  &__text {
    max-width: 26.8125rem;
    margin: 0 auto 3.75rem;
    margin-bottom: 3.75rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }
}

.more {
  &__title {
    margin-bottom: 1.5625rem;
  }

  &__text {
    max-width: 26.8125rem;
    margin: 0 auto 3.75rem;
    margin-bottom: 3.75rem;
    color: rgba(28, 49, 85, 0.8);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }

  .news {
    grid-template-columns: 30.5rem 1fr;

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .news__card:first-child {
    grid-row-end: auto;
    grid-row-start: auto;
  }

  .news__card:last-child {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;

    @media screen and (max-width: $md) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media screen and (max-width: $sm) {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }
}

.h2 {
  margin-bottom: 1.5625rem;
  color: $dark-blue;
  font-size: 3.375rem;
  font-weight: 800;
  line-height: 110%;
  text-align: center;

  @media screen and (max-width: $md) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: $sm) {
    font-size: 2.125rem;
  }
}

.look-section {
  & .look__title {
    max-width: 24.6875rem;
  }

  & .look__img {
    bottom: -17.5rem;

    @media screen and (max-width: $sm) {
      bottom: -10.5rem;
    }
  }

  & .look__info {
    @media screen and (max-width: $sm) {
      margin-bottom: 1.75rem;
    }
  }

  & .look__person {
    margin-bottom: 6.0625rem;
  }

  & .look__text {
    @media screen and (max-width: $sm) {
      margin-bottom: 1rem;
    }
  }

  & .banner__person-type {
    margin-bottom: 1.625rem;
  }

  & .look-section-hide {
    display: none;

    @media screen and (max-width: $sm) {
      display: flex;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__time {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      width: 0.1875rem;
      height: 0.1875rem;
      flex: 0 0 auto;
      margin: 0 0.625rem;
      background-color: $white;
      border-radius: 50%;
      content: '';
    }
  }
}