@import '../../assets/styles/variables.scss';

.bg-hero {
  position: relative;
  padding: 5rem 0;
  color: $white;
  padding-top: 9rem;

  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(98.74deg, rgba(28, 49, 85, 0.9) 0%, rgba(36, 89, 181, 0.9) 94.47%);
    box-shadow: 0 24px 74px rgb(29 50 86 / 11%);
    content: '';
    inset: 0;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-top: 3.75rem;

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }
  }

  &__link {
    font-weight: bold;
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $dark-blue;
    }

    svg {
      margin-left: 0.625rem;
    }

    &+.bg-hero__link {
      margin-left: 3.375rem;

      @media screen and (max-width: $sm) {
        margin-left: 0;
        margin-top: 2.1875rem;
      }
    }
  }

  &-wrp {
    &::after {
      content: '';
      background-image: url(../../assets/images/logo.svg);
      background-position: center top 2rem;
      background-repeat: no-repeat;
      background-size: 33.0625rem 35rem;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      inset: 0;
      z-index: 2;

      @media screen and (max-width: $sm) {
        background-position: center bottom;
      }
    }
  }

  &__img-bg {
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }

  &__info {
    position: relative;
    z-index: 4;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 0.9375rem;
    color: inherit;
    color: $white;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 3rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.5rem;
    }
  }

  &__text {
    width: 100%;
    max-width: 26.375rem;
    margin: 0 auto 2.5rem;
    color: $white;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }
}

.breadcrumbs.breadcrumbs--white {
  .breadcrumbs__link {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: $white;
    }

    &:last-child {
      color: $white;
    }
  }

  .breadcrumbs__divider {
    background-color: rgba(255, 255, 255, 0.5);

    &:last-child {
      background-color: $white;
    }
  }

  &__link--module {}
}


.learn {
  // display: grid;
  // grid-column-gap: 1.25rem;
  // grid-row-gap: 3.75rem;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr auto;

  @media screen and (max-width: $md) {
    // grid-row-gap: 0.9375rem;
    // grid-template-columns: 1fr;
  }

  .swiper-pagination {
    display: flex;

    @media screen and (max-width: $lg) {
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
  }

  .play-icon {
    margin-bottom: 5.625rem;

    @media screen and (max-width: $lg) {
      margin-bottom: 2.625rem;
    }

    @media screen and (max-width: $md) {
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $blue;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;

    svg {
      margin-left: 0.4rem;
    }

    &:hover {
      color: $dark-blue;
    }
  }

  &__card-info {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    @media screen and (max-width: $sm) {
      margin-bottom: 0.9375rem;
    }
  }

  &__title {
    margin-bottom: 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
      text-align: center;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    max-width: 28.75rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 2.5rem;
    background: $white;
    background-image: url(../../assets/images/card-white-logo.svg);
    background-position: bottom right 2.4rem;
    background-repeat: no-repeat;
    background-size: 9.875rem;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);

    @media screen and (max-width: $lg) {
      padding: 1.5rem;

    }

    @media screen and (max-width: $md) {
      max-width: 30rem;
      margin: 0 auto;
    }

    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__card-img {
    width: 4.1875rem;
    height: 4.1875rem;
    border: 1px solid rgba(22, 59, 125, 0.08);
    border-radius: 50%;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    object-fit: cover;
  }

  &__card-name {
    margin-right: 2.5rem;
    margin-left: 0.625rem;
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 120%;

    @media screen and (max-width: $lg) {
      margin-right: 2rem;
    }
  }

  &__card-text {
    max-width: 18.625rem;
    color: rgba(28, 49, 84, 0.8);
    font-size: 0.875rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      max-width: none;
    }
  }
}

.news {
  &__text {
    max-width: 26.8125rem;
    margin: 0 auto 3.75rem;
    margin-bottom: 3.75rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }

  &__descr {
    max-width: 27.125rem;
  }
}

.more {
  &__title {
    margin-bottom: 1.5625rem;
  }

  & .types__cards.more__cards {
    grid-template-columns: 43.25rem 1fr;

    @media screen and (max-width: $lg) {
      grid-template-columns: 28.25rem 1fr;
    }

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    max-width: 26.8125rem;
    margin: 0 auto 3.75rem;
    margin-bottom: 3.75rem;
    color: rgba(28, 49, 85, 0.8);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }


  .news {
    grid-template-columns: 30.5rem 1fr;

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  .news__card:first-child {
    grid-row-end: auto;
    grid-row-start: auto;
  }

  .news__card:last-child {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;

    @media screen and (max-width: $md) {
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }
}

.news__card.news__card--white {
  background-image: url(../../assets/images/logo-for-white-card.svg);
  background-position: bottom right;

  & .news__title--big {
    @media screen and (max-width: $md) {
      font-size: 2.25rem;
    }
  }

  & .news__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.h2 {
  margin-bottom: 1.5625rem;
  color: $dark-blue;
  font-size: 3.375rem;
  font-weight: 800;
  line-height: 110%;
  text-align: center;

  &--mb60 {
    margin-bottom: 3.75rem;
  }

  @media screen and (max-width: $md) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: $sm) {
    font-size: 2.125rem;
  }
}

.look-section {
  & .look__title {
    max-width: 24.6875rem;
  }

  & .look__img {
    bottom: -17.5rem;

    @media screen and (max-width: $sm) {
      bottom: -10.5rem;
    }
  }

  & .look__info {
    @media screen and (max-width: $sm) {
      margin-bottom: 1.75rem;
    }
  }

  & .look__person {
    margin-bottom: 6.0625rem;
  }

  & .look__text {
    @media screen and (max-width: $sm) {
      margin-bottom: 1rem;
    }
  }

  & .banner__person-type {
    margin-bottom: 1.625rem;
  }

  & .look-section-hide {
    display: none;

    @media screen and (max-width: $sm) {
      display: flex;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__time {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      width: 0.1875rem;
      height: 0.1875rem;
      flex: 0 0 auto;
      margin: 0 0.625rem;
      background-color: $white;
      border-radius: 50%;
      content: '';
    }
  }
}

.cards-left {
  & .news__card:first-child {
    margin-bottom: 1.25rem;
  }
}

.clip-card {
  background-color: #fff;
  box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
  color: $dark-blue;
  position: relative;
  display: block;
  background: #fff;



  &.news__card {
    @media screen and (max-width: $lg) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: $sm) {
      padding: 2.5rem 1.25rem;
    }
  }

  & .news__tag {
    @media screen and (max-width: $lg) {
      margin-top: 0;
    }

    &::before {
      @media screen and (max-width: $lg) {
        background-color: #fff;
      }
    }
  }

  // &:hover {
  //   & .clip-card__play {
  //     background-color: $blue;

  //     & svg path {
  //       fill: white;
  //     }
  //   }
  // }

  &__title {
    max-width: 16.8125rem
  }

  & .news__title.clip-card__title {
    color: $dark-blue;

    @media screen and (max-width: $lg) {
      color: #fff;
      max-width: none;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
  }

  &__tag {
    opacity: 0.6;

    @media screen and (max-width: $lg) {
      color: #fff;
    }
  }

  &__play {
    transition: all 0.3s ease 0s;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media screen and (max-width: $lg) {
      position: static;
      width: 2.75rem;
      height: 2.75rem;
      transform: none;
      margin-bottom: 2rem;

      svg {
        width: 0.8125rem;
        height: 0.8125rem;
        margin-left: 3px;
      }
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 50% 100%);

    @media screen and (max-width: $lg) {
      clip-path: none;
    }
  }
}


.learn {
  &__text {
    @media screen and (max-width: $lg) {
      margin-bottom: 2.5rem;
    }
  }

  &.swiper {

    & .swiper-pagination-bullets {
      bottom: -4.25rem !important;

      @media screen and (max-width: $md) {
        bottom: -2.2rem !important;
      }
    }
  }

  & .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $dark-blue;
  }

  & .swiper-pagination-bullet {
    width: 5.625rem;
    height: 0.125rem;
    margin: 0 0.4375rem !important;
    background-color: rgba(22, 59, 125, 0.3);
    border-radius: 0;
    opacity: 1;
    transition: all 0.3s ease 0s;

    &:first-child {
      margin-left: 0 !important;
    }
  }

  & .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -3.125rem;
  }
}


.video-slider {
  margin: 3.75rem 0 2.5rem 0;
  position: relative;

  @media screen and (max-width: $sm) {
    margin: 2.1875rem 0 1.875rem 0;
  }

  &__next,
  &__prev {
    width: 3.625rem;
    height: 3.625rem;
    background: #FFFFFF;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__next {
    right: -1.8125rem;
  }

  &__prev {
    left: -1.8125rem;
  }

  &__descr {
    font-size: 1rem;
    line-height: 180%;
    color: $dark-blue;
    max-width: 27.375rem;
    margin-bottom: 1.875rem;

    @media screen and (max-width: $lg) {
      color: #fff;
    }
  }

  &__card {
    &.news__card {
      padding: 3.75rem;
      min-height: 31rem;
      display: flex;
      align-items: center;

      @media screen and (max-width: $lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and (max-width: $sm) {
        padding: 2.5rem 1.25rem;
        min-height: 28.125rem;
      }
    }

    & .clip-card__img {
      clip-path: polygon(56% 0, 100% 0, 100% 100%, 44% 100%);

      @media screen and (max-width: $lg) {
        clip-path: none;
      }
    }

    & .clip-card__play {
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $lg) {
        transform: none;
      }
    }

    & .clip-card__title {
      max-width: 29.1875rem;
    }
  }
}

.video-slider-wrp {
  position: relative;

  & .video-slider__prev,
  & .video-slider__next {
    @media screen and (max-width: $lg) {
      display: none;
    }
  }
}