@import '../../assets/styles/variables.scss';

.hero {
  &__row {
    justify-content: space-between;
  }

  &__info {
    margin-right: 1rem;
  }


  &__bg {
    width: 100%;
    max-width: 36.875rem;
    background: #e8ecf2;
  }

  &-bottom {
    margin-bottom: 10rem;
  }
}


.manager {
  width: 100%;
  max-width: 25.4375rem;
  padding: 1.5625rem;
  margin-top: 4.5rem;
  background-color: $white;
  box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
  }

  &__img {
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(22, 59, 125, 0.08);
    border-radius: 50%;
    filter: drop-shadow(0 24px 74px rgba(29, 50, 86, 0.11));
  }

  &__info {
    margin-left: 0.75rem;
  }

  &__name {
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 140%;
  }

  &__position {
    color: rgba(28, 49, 85, 0.7);
    font-size: 0.875rem;
    line-height: 140%;
  }

  &__text {
    margin-bottom: 0.7rem;
    color: rgba(28, 49, 85, 0.8);
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 180%;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $blue;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;

    svg {
      margin-left: 0.4rem;
    }

    &:hover {
      color: $dark-blue;
    }
  }
}


.tabs {
  &__nav {
    width: max-content;
    padding: 0.25rem;
    margin: 0 auto 3.75rem;
    background: rgba(22, 59, 125, 0.1);
  }

  &__nav-btn {
    padding: 1.125rem 2rem;
    background-color: transparent;
    color: rgba(27, 51, 85, 0.6);
    font-size: 1rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;

    &.js-active {
      background-color: $dark-blue;
      color: $white;
    }
  }
}

.types-tabs {
  &__title {
    margin-bottom: 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;
  }

  &__text {
    max-width: 28.875rem;
    margin: 0 auto 2.5rem;
    color: rgba(22, 59, 125, 0.8);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
    text-align: center;
  }
}