@keyframes mouseScroll {
  0% {
    transform: rotate(0deg) translateX(0%);
  }

  16% {
    transform: rotate(0deg) translateX(0%);
  }

  33% {
    transform: rotate(5deg) translateX(80%);
  }

  67% {
    transform: rotate(-5deg) translateX(-80%);
  }

  84% {
    transform: rotate(0deg) translateX(0%);
  }

  100% {
    transform: rotate(0deg) translateX(0%);
  }
}


// @keyframes gradient {
//   0% {
//     background-position: center, 0 50%;
//   }

//   50% {
//     background-position: center, 100% 50%;
//   }

//   100% {
//     background-position: center, 0 50%;
//   }
// }

[data-aos="number-animation"] {
  opacity: 1;

  &.aos-animate {
    &::before {
      width: 100%;
    }
  }
}