@keyframes mouseScroll {
  0% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(-6deg);
  }
}

[data-aos="number-animation"] {
  opacity: 1;

  &.aos-animate {
    &::before {
      width: 100%;
    }
  }
}