@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;

  src: local('Proxima Nova'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: local('Proxima Nova'),
    url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;

  src: local('Proxima Nova'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;

  src: local('Proxima Nova'),
    url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}
