@import '../../assets/styles/variables.scss';

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.transition-1 {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: $dark-blue;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }
}



.header {
  position: relative;
  z-index: 10;
  padding: 0.625rem 0;
  background-color: $white;
  box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
  color: $dark-blue;
  transition: all 0.3s ease 0s;

  &.js-open {
    background-color: $dark-blue;
    color: $white;

    & .header__phone-icon path {
      fill: $white;
      stroke: $white;
    }

    & .header__logo-blue {
      opacity: 0;
    }

    & .header__logo-white {
      opacity: 1;
    }
  }

  &-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-right: 4rem;
    position: relative;

    @media screen and (max-width: $lg) {
      margin-right: 3rem;
    }

    @media screen and (max-width: $md) {
      margin-right: 2rem;
    }

    @media screen and (max-width: $sm) {
      margin-right: 1.875rem;
    }

    &-blue {
      transition: all 0.3s ease 0s;
    }

    &-white {
      opacity: 0;
      transition: all 0.3s ease 0s;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: $md) {
      position: absolute;
      right: 1.875rem;
    }

    @media screen and (max-width: $sm) {
      right: 0.625rem;
    }
  }

  &__burger {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 1.25rem;
    height: 1.0625rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.js-open {
      height: 1.25rem;

      & span {
        background-color: $white;
      }

      & span:nth-of-type(1) {
        transform: translateY(0) rotate(-45deg);
        transition-delay: 0.225s;
      }

      & span:nth-of-type(2) {
        width: 18px;
        transform: translateY(0) rotate(45deg);
        transition-delay: 0.125s;
      }

      & span:nth-of-type(3) {
        transform: translateX(3.75rem);
      }
    }

    span {
      position: absolute;
      left: 0;
      width: 0.875rem;
      height: 0.0938rem;
      background-color: $dark-blue;
      border-radius: 0.25rem;
      transition: 0.5s;
    }

    span:nth-of-type(1) {
      width: 1.125rem;
      transform: translateY(-0.375rem);
    }

    span:nth-of-type(2) {
      width: 0.625rem;
      transform: translateY(0.375rem);
    }

  }

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__link {
    margin-left: 1.5625rem;
    color: inherit;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;

    @media screen and(max-width: $lg) {
      margin-left: 1rem;
    }

    @media screen and(max-width: $md) {
      display: none;
    }

    &:hover {
      color: $blue;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__phone-icon {
    margin-right: 0.5rem;

    path {
      transition: all 0.3s ease 0s;
    }
  }

  &__phone {
    margin-right: 3.125rem;
    color: inherit;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 140%;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $md) {
      margin-right: 4.125rem;
    }

    @media screen and (max-width: $sm) {
      margin-right: 2.8125rem;
    }

    &:hover {
      color: $blue;
    }
  }

  &__btn {
    &.btn {
      padding: 0.75rem 2.125rem 0.75rem 1.25rem;
      background-image: url(../../assets/images/arrow-right.svg) no-repeat;
      background-position: center right 1.0625rem;

      @media screen and (max-width:$md) {
        display: none;
      }

      &::before {
        background-position: center right 1.0625rem, center;
      }
    }

  }
}

.hero {
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 9.375rem 0 7.5rem;

    @media screen and (max-width: $lg) {
      padding-top: 7rem;
    }

    @media screen and (max-width: $md) {
      padding: 5.375rem 0 5rem;
      flex-direction: column;
    }

    &.hero__row--padding {

      @media screen and (max-width: $sm) {
        padding: 5.375rem 0 19.875rem;
      }
    }
  }

  &__bg {
    margin-left: 1rem;
    display: flex;

    @media screen and (max-width: $md) {
      margin-top: 3.75rem;
      margin-left: 0;
      max-width: none;
      max-height: 27.1875rem;
    }

    @media screen and (max-width: $sm) {
      margin-top: 3.125rem;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 33.5rem;

    @media screen and (max-width: $sm) {
      display: flex;
      max-width: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    & .manager {
      @media screen and (max-width: $md) {
        max-width: none;
        width: 100%;
        margin-top: 2.5rem;
      }
    }
  }

  &__info-inner {
    @media screen and (max-width: $md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 1.5625rem;
    color: $dark-blue;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 3rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.5rem;
      text-align: center;
    }
  }



  &__text {
    width: 100%;
    max-width: 22.2125rem;
    margin-bottom: 2.5rem;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      text-align: center;
    }
  }

  &__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 36.875rem;

    @media screen and (max-width: $lg) {
      max-width: 29.875rem;
    }

    @media screen and (max-width: $md) {
      max-width: 25rem;
    }

    @media screen and (max-width: $sm) {
      right: auto;
      left: 0;
      max-width: none;
      padding-bottom: 5rem;
    }

    &-lady {
      // need search best variant
      padding-left: 3.5625rem;

      @media screen and (max-width: $sm) {
        position: absolute;
        z-index: -1;
        bottom: -5.9375rem;
        left: -4.25rem;
        width: auto;
        height: 410px;
        padding: 0;
      }
    }
  }

  &__main-logo {
    position: absolute;
    z-index: -1;
    bottom: 0;

    @media screen and (max-width: $sm) {
      display: none;
    }
  }


  &__social {
    position: absolute;
    right: 3rem;
    bottom: 7.5rem;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $md) {
      bottom: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      right: 0.75rem;
      flex-direction: row;

      & .social__icon {
        margin-right: 0.625rem;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }

    & .social__icon {
      margin-bottom: 0.3125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.social {
  &__icon {
    display: flex;
    width: 2.125rem;
    height: 2.125rem;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #e1e6ee;
    }
  }
}


.footer {
  padding: 5rem 0 1.25rem;
  background-color: $dark-blue;
  background-image: url(../../assets/images/noise.png);
  color: $white;
  overflow: hidden;

  @media screen and (max-width: $md) {
    padding: 3rem 0 1.25rem;
  }

  @media screen and (max-width: $sm) {
    padding: 3.75rem 0 2.5rem;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @media screen and (max-width: $sm) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 24.125rem;
    margin: 0 8.375rem 0 4rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.75rem;
    line-height: 180%;

    @media screen and (max-width: $lg) {
      max-width: 20.125rem;
      margin: 0 2.375rem 0 1rem;
    }

    @media screen and (max-width: $md) {
      max-width: 17.5rem;
      margin-top: 1.875rem;
      margin-left: 0;
    }

    @media screen and (max-width: $sm) {
      margin: 1.5625rem 0 0;
      max-width: none;
    }
  }

  &__right {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    margin-left: 0.625rem;

    @media screen and (max-width: $md) {
      align-items: end;
      flex-direction: column;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
      margin-left: 0;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__links {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    @media screen and (max-width: $md) {
      align-items: end;
      margin-right: 0rem;
      // grid-template-columns: repeat(5, auto);
      // grid-template-rows: 1fr;
      display: flex;
      grid-column-gap: 0;
      grid-row-gap: 0;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 4.2rem;
    }

    @media screen and (max-width: $sm) {
      align-items: center;
      margin: 0 auto;
      // grid-template-rows: 1fr;
      // grid-column-gap: 1.25rem;
      // grid-template-columns: repeat(5, auto);
    }
  }

  &__link {
    color: inherit;
    font-size: 0.875rem;
    line-height: 100%;

    @media screen and (max-width: $md) {
      margin-left: 1.25rem;
      margin-bottom: 1.25rem;

      &:first-child {
        margin-left: 0;
      }
    }

    @media screen and (max-width: $sm) {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__top-left {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $md) {
      flex-direction: column;
    }

    @media screen and (max-width: $sm) {
      padding-bottom: 2.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 2.5rem;
    }
  }

  &__top-right {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    margin-left: auto;

    @media screen and (max-width: $md) {
      margin-top: 3.5625rem;
    }

    @media screen and (max-width: $sm) {
      align-self: center;
      justify-content: center;
      margin: 0;
    }
  }

  &__social {
    display: flex;

    @media screen and (max-width: $lg) {
      margin-left: 0.625rem;
    }

    @media screen and (max-width: $md) {
      margin-bottom: 1.875rem;
    }

    @media screen and (max-width: $sm) {
      margin: 1.875rem 0 0 0;
      order: 2;
    }

    & .social__icon {
      margin-right: 0.9375rem;
      background-color: rgba(255, 255, 255, 0.13);
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:last-child {
        margin-right: 0;
      }


      // &--insta {
      //   path {
      //     fill: $dark-blue;
      //   }

      //   &:first-child path:last-child {
      //     fill: $white;
      //   }
      // }

      // &:hover {
      //   background-color: $white;

      //   svg path {
      //     fill: $dark-blue;
      //   }
      // }
    }
  }

  &__phone {
    color: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;
    text-align: right;

    @media screen and (max-width: $sm) {
      text-align: center;
      order: 1;
      margin-top: 2.5rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    line-height: 140%;
  }

  &__bottom-right {
    @media screen and (max-width: $sm) {
      display: flex;
      width: 57%;
      justify-content: space-between;
    }
  }

  &__bottom-link {
    margin-left: 1.875rem;
    color: inherit;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $sm) {
      margin-left: 0;
    }

    &:hover {
      color: $white;
    }
  }
}

.faq {
  overflow: hidden;

  &__title {
    width: 100%;
    max-width: 39.8125rem;
    margin: 0 auto 1.5625rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__descr {
    width: 100%;
    max-width: 26.625rem;
    margin: 0 auto 3.75rem;
    color: rgba(28, 49, 85, 0.8);
    font-size: 1rem;
    line-height: 180%;
    text-align: center;
  }

  &__item {
    position: relative;
    width: 100%;
    max-width: 62.25rem;
    padding: 2.375rem 5.375rem 2.375rem 2.1875rem;
    margin: 0 auto 1.25rem;
    background-color: $white;
    box-shadow: 0 0 74px rgba(29, 50, 86, 0.07);
    cursor: pointer;

    @media screen and (max-width: $sm) {
      padding: 1.25rem 5.375rem 1.25rem 1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.js--active {
      & .faq__content {
        overflow: visible;
        transition: all 0.3s ease 0s;
      }

      & .faq__arrow::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__question {
    color: $dark-blue;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 100%;

    @media screen and (max-width: $md) {
      font-size: 1.125rem;
      line-height: 160%;
    }
  }

  &__content {
    overflow: hidden;
    transition: all 0.3s ease 0s;
  }

  &__answer {
    width: 100%;
    max-width: 34.6875rem;
    padding-top: 1.25rem;
    color: rgba(22, 59, 125, 0.8);
    font-size: 0.875rem;
    line-height: 140%;
    opacity: 0.8;

    @media screen and (max-width: $md) {
      padding-top: 0.9375rem;
      line-height: 180%;
    }
  }

  &__arrow {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: flex;
    width: 3.625rem;
    min-height: 3.625rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 59, 125, 0.13);
    border-radius: 50%;

    @media screen and (max-width: $sm) {
      right: 0.625rem;
    }

    &::after {
      display: block;
      width: 0.5rem;
      height: 0.25rem;
      background-image: url(../../assets/images/arrow-botttom.svg);
      background-size: 0.5rem 0.25rem;
      content: '';
      transition: all 0.3s ease 0s;
    }
  }

}

.look {
  overflow: hidden;
  background-image: url(../images/noise.png), url(../images/full-logo-mobile.svg), linear-gradient(98.74deg, #1c3155 0%, #2459b5 94.47%);
  background-position: center, center right, center;
  background-repeat: repeat, no-repeat;
  color: $white;
  background-size: auto, 34.625rem 42.1875rem, auto;

  @media screen and (max-width: $sm) {
    background-position: center, center center, center;
    background-size: auto, 27.625rem 33.188rem, auto;
  }

  &-wrp {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: $sm) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 26.1rem;

    @media screen and (max-width: $sm) {
      margin-bottom: 3.75rem;
      text-align: center;
    }

    & .btn {
      @media screen and (max-width: $sm) {
        margin: 0 auto;
      }
    }
  }

  &__person {
    align-self: end;
  }

  &__title {
    margin-bottom: 1.5625rem;
    font-size: 3.375rem;
    font-weight: 800;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    line-height: 180%;
  }

  &__person-info {
    margin-right: 5rem;

    @media screen and (max-width: $lg) {
      margin-right: 0;
    }
  }

  &__person-type {
    max-width: 9.0625rem;
  }

  &__img {
    position: absolute;
    right: 12.1875rem;
    bottom: -14.5rem;
    max-height: 41.3125rem;

    @media screen and (max-width: $lg) {
      right: 7.188rem;
      max-height: 37.313rem;
    }

    @media screen and (max-width: $md) {
      right: 0;
    }

    @media screen and (max-width: $sm) {
      right: auto;
      left: -4.125rem;
      max-height: 30rem;
    }
  }
}

.banner {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  max-width: 62.25rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 3.75rem 2.5rem 3.75rem 3.75rem;
  margin: 7.5rem auto 0;
  background-image: url(../images/banner-logo.svg), $bg-gradient;
  background-position: center right, center;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  color: $white;

  @media screen and (max-width: $sm) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5rem 1.25rem;
    background-image: url(../../assets/images/full-logo-mobile.svg), $bg-gradient;
    background-position: center center, auto;
    background-size: 27.625rem 33.188rem, auto;
  }

  &__info {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 16.5625rem;

    @media screen and (max-width: $sm) {
      margin-bottom: 3.75rem;
    }
  }

  &__title {
    margin-bottom: 0.625rem;
    font-size: 2.625rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-transform: uppercase;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__btn {
    &.btn {
      padding: 0.75rem 2.125rem 0.75rem 1.25rem;
      background-position: center right 1.0625rem;

      &:hover {
        background-image: url(../../assets/images/arrow-right.svg) no-repeat center right 1.0625rem, $bg-gradient;
      }
    }
  }

  &__text {
    margin-bottom: 2.1875rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 110%;
  }

  &__img {
    position: absolute;
    z-index: 2;
    right: 14rem;
    bottom: -0.75rem;
    height: 24.6875rem;

    @media screen and (max-width: $md) {
      right: 8rem;
      bottom: -0.6875rem;
    }

    @media screen and (max-width: $sm) {
      right: -15.1875rem;
      bottom: -1.0625rem;
      width: auto;
      height: 100%;
      max-width: none;
    }
  }

  &__person-info {
    position: relative;
    z-index: 3;
  }

  &__person-name {
    color: $white;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 140%;
  }

  &__person-type {
    margin-bottom: 0.625rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    line-height: 140%;
  }

  &__video {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
  }

  &__video-play {
    width: 2.625rem;
    height: 2.625rem;
    margin-right: 0.75rem;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 14px 64px rgba(70, 161, 209, 0.42);
    transition: all 0.3s ease 0s;
    cursor: pointer;

    svg {
      margin-left: 0.3125rem;
    }

    svg path {
      transition: all 0.3s ease 0s;
    }

    &:hover {
      background-color: $white;

      svg path {
        fill: $blue;
      }

    }
  }

  &__video-text {
    max-width: 4.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__social {
    display: flex;

    & .social__icon {
      margin-right: 0.9375rem;
      margin-bottom: 0;
    }
  }
}

.play-icon {
  display: flex;
  width: 3.625rem;
  height: 3.625rem;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  background-color: $blue;
  border-radius: 50%;
  box-shadow: 0 14px 64px rgb(70 161 209 / 42%);
  cursor: pointer;
  transition: all 0.3s ease 0s;

  svg {
    margin-left: 0.3125rem;
  }

  svg path {
    transition: all 0.3s ease 0s;
  }

  &:hover {
    background-color: $white;

    svg path {
      fill: $blue;
    }

  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5625rem;

  &--center {
    justify-content: center;
    margin-bottom: 1.5625rem;
  }

  &__link {
    color: rgba(27, 51, 85, 0.5);
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 100%;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $sm) {
      font-size: 0.875rem;
    }

    &:hover {
      color: $dark-blue;
    }

    &:last-child {
      color: $dark-blue;
    }
  }

  &__divider {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    margin: 0 0.75rem;
    background-color: rgba(27, 51, 85, 0.5);
    border-radius: 50%;

    @media screen and (max-width: $sm) {
      margin: 0 0.5rem;
    }

    &--blue {
      background-color: $dark-blue;
    }
  }
}

.news {
  &__card {
    position: relative;
    padding: 2.5rem;

    & .play-icon {
      @media screen and (max-width: $sm) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 2.75rem;
        height: 2.75rem;
        margin: 0;
      }
    }

    @media screen and (max-width: $md) {
      padding: 2.5rem 1.25rem;
    }

    & .btn {
      width: max-content;
    }

    &:first-child {
      grid-row-end: 3;
      grid-row-start: 1;

      // @media screen and (max-width: $md) {
      //   grid-row-end: auto;
      //   grid-row-start: auto;
      // }
      @media screen and (max-width: $sm) {
        grid-row-end: 1;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 1;
      }
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto;

    // @media screen and (max-width: $md) {
    //   align-items: flex-end;
    // }

    @media screen and (max-width: $sm) {
      display: block;
    }
  }

  &__card-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }

  &__card--bg {
    position: relative;

    &::after {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(98.74deg, rgba(28, 49, 85, 0.9) 0%, rgba(36, 89, 181, 0.9) 94.47%);
      box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);
      content: '';
      inset: 0;
    }

    .news__tag {
      color: rgba(255, 255, 255, 0.6);

      &::before {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;

    @media screen and (max-width: $md) {
      margin-top: 1.25rem;
    }

    &::before {
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      margin-right: 0.3125rem;
      background-color: inherit;
      background-color: $dark-blue;
      border-radius: 50%;
      content: '';
    }
  }

  &__title {
    max-width: 15.3125rem;
    margin-bottom: 0.9375rem;
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 120%;

  }

  &__title--big {
    max-width: none;
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 110%;

    @media screen and (max-width: $md) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 1.5rem;
    }
  }

  &__descr {
    margin-bottom: 1.875rem;
    color: $white;
    font-size: 1rem;
    line-height: 180%;

    @media screen and (max-width: $md) {
      margin-bottom: 1.5625rem;
    }
  }

  &__card--white {
    background-color: $white;
    background-image: url(../../assets/images/card-white-logo.svg);
    background-position: bottom right 1.875rem;
    background-repeat: no-repeat;
    box-shadow: 0 24px 74px rgba(29, 50, 86, 0.11);

    .news__tag {
      color: rgba(22, 60, 126, 0.6);

      &::before {
        background-color: rgba(22, 60, 126, 0.6);
      }
    }

    .news__title {
      color: $dark-blue;
    }
  }
}

.types {
  &__cards {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr 30.5rem;
    grid-template-rows: 1fr 1fr;

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 20.5rem;
      grid-template-rows: auto;
    }


    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
}

.inner-page {
  &__title {
    margin-bottom: 1.5625rem;
  }

  &__text {
    margin-bottom: 3.75rem;

    @media screen and (max-width: $md) {
      margin-bottom: 3rem;
    }

    @media screen and (max-width: $sm) {
      margin-bottom: 2.5rem;
    }
  }

  &__h2 {
    margin-bottom: 3.75rem;
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 110%;
    text-align: center;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  & .news__card:first-child {
    grid-row-end: 3;
    grid-row-start: 1;
  }
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 9;
  height: calc(100vh - 4.25rem);
  padding: 7.2rem 0rem 5rem 0rem;
  background-image: $bg-gradient;
  opacity: 0;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: all 0.3s ease 0s;

  &.js-open {
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (max-width: $sm) {
    padding: 7rem 0 5rem 0;
  }

  & .types__cards {
    display: grid;
    grid-template-columns: 1fr 19.8125rem;

    @media screen and (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr 20.5rem;
      grid-template-rows: 1fr 1fr;
    }


    @media screen and (max-width: $sm) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }

  & .news__card:first-child {
    @media screen and (max-width: $lg) {
      grid-row-end: 3;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media screen and (max-width: $sm) {
      grid-row-end: 1;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 1;
    }
  }

  & .news {
    margin-left: 3rem;

    @media screen and (max-width: $md) {
      margin-left: 0;
    }
  }

  &-wrp {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: $md) {
      flex-direction: column;
    }
  }

  &__dd {
    flex: 0 0 auto;
  }

  &__dd-item {
    &.js-open {
      .menu__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    margin-left: 1.5625rem;
    transition: all 0.3s ease 0s;
  }

  &__dd-category {
    display: flex;
    align-items: center;
    margin-bottom: 2.1rem;
    color: $white;
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 110%;

    @media screen and (max-width: $sm) {
      font-size: 2.25rem;
    }
  }

  &__dd-content {
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease 0s;
  }

  &__dd-content-inner {
    @media screen and (max-width: $md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__dd-link {
    display: block;
    padding-bottom: 1.875rem;
    color: $white;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 110%;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: $md) {
      &+.menu__dd-link {
        margin-left: 1.875rem;
      }
    }

    @media screen and (max-width: $sm) {
      &+.menu__dd-link {
        margin-left: 1.2rem;
      }
    }

    &:hover {
      color: $blue;
      font-weight: bold;
    }
  }

  &__cards {
    display: grid;
    margin-left: 4rem;
    gap: 1.25rem;
    grid-template-columns: 1fr 19.8125rem;
    grid-template-rows: 1fr 1fr;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

.reviews {
  $slider-width: 30.5rem;

  @media screen and (max-width: $sm) {
    width: auto;
    max-width: 100%;
    padding-bottom: 7.5rem;
  }

  &__container {
    display: grid;
    align-items: start;
    column-gap: 10.9375rem;
    grid-template-columns: auto 1fr;

    @media screen and (max-width: $lg) {
      column-gap: 3.9375rem;
    }

    @media screen and (max-width: $md) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $sm) {
      display: flex;
      flex-direction: column;
    }
  }

  &__content-wrp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: 27.25rem;
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $sm) {
      display: none;
    }
  }


  & .swiper-pagination-bullets {
    bottom: -2.5rem !important;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;

    @media screen and (max-width: $sm) {
      display: flex;
      justify-content: center;
    }
  }

  & .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $white;
  }

  & .swiper-pagination-bullet {
    height: 0.125rem;
    width: 2.5rem;
    margin: 0 0.4375rem !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0;
    opacity: 1;
    transition: all 0.3s ease 0s;
  }

  & .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -3.125rem;
  }

  &__slider-wrp {
    overflow: hidden;
    margin-right: calc((#{$container-width} - #{$container-inline-padding} - 100vw) / 2);

    @media screen and (max-width: $lg) {
      margin-right: -1.25rem;
    }

    @media screen and (max-width: $md) {
      margin-right: -0.625rem;
    }

    @media screen and (max-width: $sm) {
      margin-right: 0;
    }
  }

  &__slider-inner {
    width: $slider-width;

    @media screen and (max-width: $sm) {
      max-width: 100%;
    }
  }

  &__swiper.swiper {
    overflow: unset;
  }

  &__slider-btn {
    z-index: 2;
    width: 3.625rem;
    height: 3.625rem;
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      background-color: $blue;

      svg path {
        stroke: $white;
      }
    }

    svg path {
      transition: all 0.3s ease 0s;
    }
  }

  &__swiper {
    position: relative;

    & .swiper-wrapper {
      align-items: flex-end;
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    max-width: $slider-width;
    max-height: 23.375rem;
    padding: 2.5rem;
    background-color: $dark-blue;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);


    @media screen and (max-width: $sm) {
      width: auto;
      max-width: 100%;
      max-height: none;
    }

    &.swiper-slide-active {
      width: 100%;
      max-height: 30.875rem;
      transition: max-height 1s ease-in-out;

      @media screen and (max-width: $sm) {
        max-height: none;
      }

      & .reviews__info {
        max-height: 500px;
        transition: max-height 1s ease-in-out;
      }

      & .reviews__img {
        img {
          width: 10rem;
          height: 10rem;
          box-shadow: 0 0 0 0.5625rem $white;
        }

        &::before {
          opacity: 1;
        }

      }

    }
  }

  &__logo {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 3rem;
    height: 3rem;
  }

  &__img {
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;

    &::before {
      content: "";
      background-image: url(../../assets/images/quote-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -0.1875rem;
      right: -0.3125rem;
      width: 3.4375rem;
      height: 3.4375rem;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }

    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      object-fit: contain;
      transition: all 0.5s ease 0s;

      @media screen and (max-width: $sm) {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  &__name {
    margin-bottom: 0.25rem;
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__tag {
    margin-bottom: 0.9375rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    line-height: 140%;
  }

  &__text {
    color: $white;
    font-size: 1rem;
    line-height: 180%;

  }

  &__info {
    display: grid;
    overflow: hidden;
    max-height: 0;
    margin-top: 1.5rem;
    grid-column-gap: 3.625rem;
    grid-row-gap: 0.25rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    @media screen and (max-width: $sm) {
      max-height: none;
    }
  }

  &__info-type {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    line-height: 140%;
  }

  &__info-value {
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 110%;
  }

  &__title {
    margin-bottom: 3.75rem;
    color: $white;
    font-size: 3.25rem;
    font-weight: 800;
    letter-spacing: -0.01em;
    line-height: 3.9375rem;

    @media screen and (max-width: $md) {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 2.125rem;
    }
  }

  &__logos {
    display: flex;
    max-width: 8rem;
    flex-direction: column;
    align-items: center;
    margin-top: -10.375rem;

    @media screen and (max-width: $md) {
      display: grid;
      width: 100%;
      max-width: none;
      align-items: initial;
      margin-top: 0;
      margin-right: 0;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(auto-fill, 11.125rem);
      margin-bottom: 1.5625rem;
    }

    @media screen and (max-width: $sm) {
      grid-template-columns: repeat(auto-fill, 9.125rem);
      grid-row-gap: 2.1875rem;
    }

    &-wrp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $md) {
        justify-content: flex-start;
        flex-direction: row;
      }
    }
  }

  &__logos-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.75rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: $md) {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &__logo-img {
    width: 6.5rem;
    height: 6.5rem;
    margin-bottom: 1.25rem;
    object-fit: contain;

    @media screen and (max-width: $md) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__grade {
    margin-bottom: 0.25rem;
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;

    @media screen and (max-width: $md) {
      font-size: 1.5rem;
      margin-left: 0.75rem;
    }

  }

  &__stars {
    width: 7.75rem;
    height: 1.5rem;
    background-image: url(../../assets/images/stars-sprite.svg);
  }

  &__stars--5 {
    background-position: top left;
  }

  &__stars--4 {
    background-position: top 6.0625rem left;
  }

  &__stars--3 {
    background-position: top 3.9375rem left;
  }

  &__logo-numbers {
    margin-top: 0.625rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    line-height: 1.0625rem;
    text-align: center;
  }
}