//colors
$dark-blue:#1C3155;
$middle-blue: #2459B5;
$blue:#46A1D1;
$white: #FFFFFF;
$bg-gradient: linear-gradient(98.74deg, $dark-blue 0%, $middle-blue 94.47%);

// breakpoints
$ipadPro: 64rem;
$ipad: 48rem;
$horizontal-mobile: 35.625rem;

//layout
$container-width: 76.875rem;
