//colors
$dark-blue:#1C3155;
$middle-blue: #2459B5;
$blue:#46A1D1;
$white: #FFFFFF;
$bg-gradient: linear-gradient(98.74deg, $dark-blue 0%, $middle-blue 94.47%);


//layout
$container-width: 76.875rem;

$breakpointLaptop: 1200px;
$breakpointIpadPro: 1025px;
$breakpointIpad: 991px;
$breakpointRotatedPhone: 570px;
$breakpointPhone: 415px;