//colors
$dark-blue: #1c3155;
$middle-blue: #2459b5;
$blue: #46a1d1;
$white: #fff;
$bg-gradient: linear-gradient(98.74deg, $dark-blue 0%, $middle-blue 94.47%);

// breakpoints
$lg: 64rem;
$md: 50.6875rem;
$sm: 35.625rem;
$xs: 25rem;

//layout
$container-width: 77.5rem;
$container-inline-padding: 1.25rem;
